[Desktop Entry]
Type=Service
Name=KDE Scan Service
Name[af]=Kde Skandeer Diens
Name[ar]=خدمة المسح لكدي
Name[ast]=Serviciu de dixitalización de KDE
Name[bg]=Услуга за сканиране
Name[br]=Damanterien skramm
Name[bs]=KDE‑ov servis za skeniranje
Name[ca]=Servei d'escaneig del KDE
Name[ca@valencia]=Servei d'escaneig del KDE
Name[cs]=Skenovací služba pro KDE
Name[cy]=Gwasanaeth Sganio KDE
Name[da]=KDE Skanneservice
Name[de]=Scan-Dienst von KDE
Name[el]=Υπηρεσία σάρωσης του KDE
Name[en_GB]=KDE Scan Service
Name[eo]=KDE skana servo
Name[es]=Servicio de digitalización de KDE
Name[et]=KDE skaneerimisteenus
Name[eu]=KDEren eskaneatze zerbitzua
Name[fa]=خدمت پویش KDE
Name[fi]=KDE :n skannauspalvelu
Name[fr]=Service de numérisation de KDE
Name[ga]=Seirbhís Scanta KDE
Name[gl]=Servizo de escáner de KDE
Name[he]=שירות הסריקה של KDE
Name[hi]=केडीई स्कैन सर्विस
Name[hne]=केडीई स्कैन सर्विस
Name[hr]=KDE skan servis
Name[hu]=KDE lapolvasó szolgáltatás
Name[ia]=Servicio de scander de KDE
Name[is]=KDE myndlesaraþjónusta
Name[it]=Servizio di scansione di KDE
Name[ja]=KDE スキャンサービス
Name[kk]=KDE сканер қызметі
Name[km]=សេវា​ស្កេន​របស់ KDE
Name[ko]=KDE 스캔 서비스
Name[ku]=KDE Servîsa Venihêrînê
Name[lt]=KDE skanavimo tarnyba
Name[lv]=KDE skenēšanas serviss
Name[mr]=केडीई स्कॅन सेवा
Name[ms]=Perkhidmatan Imbas KDE
Name[nb]=KDE skannetjeneste
Name[nds]=Bildinleesdeenst för KDE
Name[ne]=केडीई स्क्यान सेवा
Name[nl]=KDE Scannerdiensten
Name[nn]=Skanneteneste for KDE
Name[pa]=KDE ਸਕੈਨ ਸਰਵਿਸ
Name[pl]=Usługa skanowania KDE
Name[pt]=Serviço de Digitalização do KDE
Name[pt_BR]=Serviço de digitalização do KDE
Name[ro]=Serviciu de scanare KDE
Name[ru]=Служба сканирования KDE
Name[se]=KDE skánnenbálválus
Name[si]=KDE ස්කෑන් සේවාව
Name[sk]=Skenovacia služba pre KDE
Name[sl]=Storitev optičnega branja za KDE
Name[sr]=КДЕ‑ов сервис за скенирање
Name[sr@ijekavian]=КДЕ‑ов сервис за скенирање
Name[sr@ijekavianlatin]=KDE‑ov servis za skeniranje
Name[sr@latin]=KDE‑ov servis za skeniranje
Name[sv]=KDE:s bildläsartjänst
Name[ta]=கேடிஇ வருடு சேவை
Name[tg]=Сканеронӣ дар KDE
Name[th]=บริการสแกนภาพ-K
Name[tr]=KDE Tarayıcı Servisi
Name[ug]=KDE شويلىلاش مۇلازىمىتى
Name[uk]=Служба сканування KDE
Name[uz]=KDE skan qilish xizmati
Name[uz@cyrillic]=KDE скан қилиш хизмати
Name[vi]=Dịch vụ quét của KDE
Name[wa]=Siervice di scanaedje di KDE
Name[xh]=Inkonzo yemita yovavanyo ye KDE
Name[x-test]=xxKDE Scan Servicexx
Name[zh_CN]=KDE 扫描服务
Name[zh_HK]=KDE 掃描服務
Name[zh_TW]=KDE 掃描服務
X-KDE-Library=ksaneplugin
InitialPreference=3
X-KDE-ServiceTypes=KScan/KScanDialog
